/** évite les marges automatique suivant le navigateur */

body{
    font-family: "Open Sans", sans-serif;
    font-size: 84%;
    /*margin: 0px;
    padding: 0px;*/
    background-image: url("../images/BG_left-1.png") ,url("../images/BG_right-1.png"); 
    background-repeat: no-repeat;
    background-position: top left, top right;
    
	background-attachment: fixed;
    


}


#menu, #menu ul{
font-weight: bold;
padding:0;
margin:0;
list-style:none;
text-align:center;
}
#menu li{
display:inline-block;
position:relative;
/*border-radius:8px 8px 0 0;*/
}
#menu ul li{
display:inherit;
border-radius:0;
}
#menu ul li:hover{
border-radius:0;
}
#menu ul li:last-child{
border-radius:0 0 1em 1em;
}
#menu ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu li:hover ul{
max-height:15em;
}
/* background des liens menus */
/*
#menu li:first-child{
background-color: #8ACA6B;
background-image:-webkit-linear-gradient(top, #98C681 0%, #6fd13e 100%);
background-image:linear-gradient(to bottom, #98C681 0%, #6fd13e 100%);
}
#menu li:nth-child(2){
background-color: #8ACA6B;
background-image:-webkit-linear-gradient(top, #98C681 0%, #6fd13e 100%);
background-image:linear-gradient(to bottom, #98C681 0%, #6fd13e 100%);
}

#menu li:nth-child(3){
background-color: #8ACA6B;
background-image:-webkit-linear-gradient(top, #98C681 0%, #6fd13e 100%);
background-image:linear-gradient(to bottom, #98C681 0%, #6fd13e 100%);
}

*/
#menu li:nth-child(n){
background-color: #6fd13e;
/*background-image:-webkit-linear-gradient(top, #98C681 0%, #6fd13e 100%);
background-image:linear-gradient(to bottom, #98C681 0%, #6fd13e 100%);*/
}

/*menu li:last-child{
background-color: #98C681;
background-image:-webkit-linear-gradient(top, #98C681 0%, #6fd13e 100%);
background-image:linear-gradient(to bottom, #98C681 0%, #6fd13e 100%);
}*/
/* background des liens sous menus */
/*
#menu li:first-child li{
background:#6fd13e;
}
*/
#menu li:nth-child(n) li{
background:#98C681;
}
/*
#menu li:nth-child(3) li{
background:#6fd13e;
}

#menu li:nth-child(4) li{
background:#6fd13e;
}

#menu li:last-child li{
background:#6fd13e;
}
*/
/* background des liens menus et sous menus au survol */
/*
#menu li:first-child:hover, #menu li:first-child li:hover{
background:#98C681;
}
*/
#menu li:nth-child(n):hover, #menu li:nth-child(n) li:hover{
background:#98C681;
}
/*
#menu li:nth-child(3):hover, #menu li:nth-child(3) li:hover{
background:#98C681;
}
#menu li:last-child:hover, #menu li:last-child li:hover{
background:#98C681;
}
*/
/* les a href */
#menu a{
text-decoration: none;
display:block;
padding: 1em 1.6vw;
color:#fff;
font-family:arial;
width:auto;
}


#menu ul a{
padding:8px 0;
}
#menu li:hover li a{
color:#fff;
text-transform:inherit;
}
#menu li:hover a, #menu li li:hover a{
color:#000;
}

#menu .actif{
    color: black;
}

.top-page{
    width: 70%;
    margin: auto; 
    display: flex;
    justify-content: space-between;
    
}


#top_page_title{
    margin: auto;
    font-size: 4vw;
}

#top_page_right{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.container{
    margin-top: 5%;
}


.container-menu {
    width: 70%;
    margin: auto; 
    background-color:#6fd13e;   
}

.container h1{
    text-align: center;
} 

.container_cat {
    width: 70%;
    margin: auto;
    text-align: center;
}

.container_cat a{
    display: inline-block;
}

.container_cat ul li{
    list-style-type: none;
}

.container_adherent{
    width: 70%;
    margin: auto;
}

.container_adherent form {
/*float: left;*/ 
text-align: justify;    

}

.container_adherent fieldset{
width: 50%; 
margin:auto;    

}

.container_adherent input, select#demande, select#inscr {
    float: right;
}

textarea#commentaire{
    width: 98%;
    
}
footer p{
    width: 70%;
    margin: auto;
    background-color: #eeeeee;
    text-align: center;
    font-size: 0.9em;

}

footer {          /*mis en place pour page planning pour éviter la remontée du footer sous les float*/
    clear: both;
    margin-top: 5%;
}

.container_cat iframe{
    margin: auto;
    
}

.container_cat figure{
    display: inline-block;
}

figure img{
    vertical-align: top
}

figure figcaption {
    text-align: center;
}

.container_prod {
     width: 70%;
    margin: auto;
    text-align: center;
    
}

.container_prod img{
    float:left;
    
}



#diaporama {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#diaporama a:hover img{
/* grossissement */
-webkit-transform: scale(1.5) rotate(-10deg);
-moz-transform: scale(1.5) rotate(-10deg);
-o-transform: scale(1.5) rotate(-10deg);
-ms-transform: scale(1.5) rotate(-10deg);
transform: scale(1.5) rotate(-10deg);
/* ombre */
-webkit-box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
-moz-box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
-o-box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
-ms-box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
box-shadow: 4px 4px 10px rgba(0,0,0,0.5);

/* transition */
-webkit-transition: -webkit-transform 0.2s ease-in-out;
-moz-transition: -moz-transform 0.2s ease-in-out;
-o-transition: -o-transform 0.2s ease-in-out;
transition: transform 0.2s ease-in-out;

}

/*GESTION DES CONTENUS DE SAISIE DANS LA PAGE PLANNING */

#boxcontent {
    display: none;
}

#light{
    display: none;
    
}

#stage {
    display:none;
}

#plann {
    margin-right: 5%;
}

#connect{
    margin-top: 7%;
}

#stage {
    margin-top: 12%;
}

/* Pour slider en page d'accueil*/

#slideshow {
	position: relative;
	width: 70%;
    max-width: 1000px;
	height: auto;
	padding: 15px;
	margin: 0 auto 2em;
	border: 1px solid #ddd;
	background: #FFF;
	/* CSS3 effects */
	background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 0 3px rgba(0,0,0, 0.2);
}
/* avanced box-shadow : http://www.creativejuiz.fr/blog/les-tutoriels/ombre-avancees-avec-css3-et-box-shadow */


#slideshow:before,
#slideshow:after {
	position: absolute;
	bottom:16px;
	z-index: -10;
	width: 50%;
	height: 20px;
	content: " ";
	background: rgba(0,0,0,0.1);
	border-radius: 50%;
	box-shadow: 0 0 3px rgba(0,0,0, 0.4), 0 20px 10px rgba(0,0,0, 0.7);
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
	-webkit-box-shadow: 0 0 3px rgba(0,0,0, 0.4), 0 20px 10px rgba(0,0,0, 0.7);
	-moz-box-shadow: 0 0 3px rgba(0,0,0, 0.4), 0 20px 10px rgba(0,0,0, 0.7);
	box-shadow: 0 0 3px rgba(0,0,0, 0.4), 0 20px 10px rgba(0,0,0, 0.7);
	
	z-index: -10;

}
#slideshow:before {
	left:0;
	transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);

}
#slideshow:after {
	right:0;
	transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	-o-transform: rotate(4deg);

}

div#slider {
	overflow: hidden;
    position: relative;
	/*width: 70%;
    max-width: 1000px;
	height: auto;*/
    margin: auto;
           
}

div#slider figure {
	position: relative;

	width: 500%;
	margin: 0;
	padding: 0;
	font-size: 0px;  /*supprim tout l'espace autour de l'element figure*/
	animation: slidein 30S infinite;
	-webkit-animation: 30S infinite slidein;
	-moz-animation: 30S infinite slidein;
	-ms-animation: 30S infinite slidein;
	-o-animation: 30S infinite slidein;    
}
div#slider figure img {
    width: 20%;
    height: auto;
    float: left;
}



@keyframes slidein {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

@-webkit-keyframes slidein {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

#checkbox1,
.toggle {
  display: none;
}

/*****************/
/* MEDIA QUERIES */
/*****************/


@media screen and (max-width: 760px){
    
    #top_page_left img{
        display: none;
    }
    #top_page_right{
        display: none;
    }
    .container-menu{
        width: 100%;
		
    }
    
    body{
        /*background-image: none;*/
		background-size: calc(20vw - ((760px - 100vw) * 2.4 / 760)*100) 100vh;
    }

    /*-------HAMBURGER RESP---------------*/
    .toggle {
    clear: both;
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 40px;/*centrage traits ds box grise*/
    cursor: pointer;
    width: 100%;
    height: 40px;/*hauteur boite grise*/
    font-size: 30px;
    color: #595959; /* 3 traits noirs*/ 
    background: #dbdbdb;/* fond gris hamburger*/
    transition: all .1s linear;
  }
  .toggle:hover {
    background: #cecece;
  }
   #checkbox1:checked + label .demo li {
    opacity: 1;
    visibility: visible;
    transition: all .7s linear;
  }

  #checkbox1:checked + label .demo {
    height: 70%;
  }
  .menu {
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 0px;
    transition: height .3s linear;
	
}
  .menu li {
    display: flex;
    /* magic */
    align-self: center;
    width: 100%;
    opacity: 0;
    visibility: hidden;
  }
  .menu li a {
    width: 90%;
    text-align: center;
    align-self: center;
    align-content: center;
  }
}

.demo {
  background: #6fd13e;
}

.demo li a {
  color: #fff;
}

.demo li a:hover {
  background: #98C681;
}
.sous_menu{display:none;
}

}
    
/********************/
/* MEDIA QUERIES END*/
/********************/


